:root {
    --color-bg: #2D3047;
    --color-text: #F2F2F2;
    --color-btn: #120B40;
    --color-btn-hover: #E0A458;
    --color-correct: #4caf50;
    --color-wrong: #f44336;
    --color-progress: #873DC2;
    --color-timer: #E23E85;
    --font-main: 'Sour Gummy', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   background-size: cover;
  background: url(pictures/back.png);
}

#home {
    width: 500px;
    max-width: 80%;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 50px;
    padding: 30px;
}

#start-screen {
background-image: url("pictures/start.png");
background-repeat: no-repeat;
background-size: cover;
height: 90vh; 
  width: 100%;
}


main {
    flex: 1;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center;
    font-family: var(--font-main);
    min-height: 100vh;
}

.container {
    font-size: 20px;
    flex: 1;
}

.row.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

button {
    background-color:#120B40; 
    color: var(--color-text);
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
    border: solid;
    margin: 10px;
    font-family: var(--font-main);
}

button:hover {
    background: linear-gradient(90deg, #E23E85, #873DC2);;
}

button:focus {
    outline: 3px solid #a5351e;
    outline-offset: 2px;
}

.hidden {
    display: none !important;
}

#progress-container {
    width: 70%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto 10px;
    padding: 5;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: var(--color-progress);
    transition: width 0.3s ease;
    
}

#timer {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-timer);
    text-align: right;
    margin-right: 30px;
}

#answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

#answers .answer {
    width: 90%;
    padding: 30px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #B6b6CE;
    color: #2D3047;
    transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sour Gummy', sans-serif;
    background-color: rgba(18, 11, 64, 0.3);
    color: #F2F2F2;

}

#answers .answer:hover {
    transform: scale(1.03);
}

#answers .answer.correct {
    background-color: #4caf50;
    color: white;
}

#answers .answer.wrong {
    background-color: #f44336;
    color: white;
}


.results-visible {
    color: #120B40;
}

@media (max-width: 768px) {

    body {
        font-size: 10px;
    }

    button {
        background-color: #120B40;
        color: var(--color-text);
        padding: 15px;
        font-size: 12px;
        border-radius: 20px;
        border: solid;
        margin: 8px;
    }

    #answers {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 13px;
        margin-right: auto;
        margin-left: auto;
    }

    #answers .answer {
        border-radius: 5px;
    }

    .container {
        font-size: 12px;
    }

    #next-btn {
        margin: 5px;
        font-size: 15px;
    }

    #answers .answer {
        font-size: 15px;
    }
}